.move-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    margin: auto;
    .move-img{           
        padding: 2em;
    }
}