.beams-container{
    display: flex;
    flex-direction: row;

    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    margin: auto;
    .beams-img{
        padding: 2em;
    }
    // .text-container{
    //     height: 30%;
    //     width: 30%;
    // }
}

