.gray-background{
    background-color: rgb(66, 66, 66);
    color: white;
}

.gray-gradient{
    background: rgb(199,199,199);
    background: linear-gradient(0deg, rgba(199,199,199,1) 0%, rgba(66,66,66,1) 100%);
    color: white;
}